<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Passcode Generator</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container"><br>
        <div class="jumbotron text-center">
            <h2>Random passcode (passcode #@ViewBag.count)</h2>
            <h1 class="text-center">@ViewBag.passcode</h1><br>
            <a href="/" class="btn btn-primary btn-lg" role="button">Generate</a>
        </div>
    </div>
</body>
</html>